<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>ParkingSector.bg | Времето ни е ценно!</title>

		<!-- Bootstrap core CSS -->
		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Custom Google Web Font -->
		<link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

		<!-- Add custom CSS here -->
		<link href="/static/css/loginuser.css" rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">
		<link href="/static/test/font-awesome-4.1.0/css/font-awesome.css" rel="stylesheet">

	</head>

	<body>

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" style="padding-top:2px !important;" href="/"><img src='/static/imgs/logo_web.png'/></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="/" class="btn-three">Начало</a>
						</li>
						<li>
							<a href="/#services" class="btn-three">Услуги</a>
						</li>
						<li>
							<a href="/#contact" class="btn-three">Контакти</a>
						</li>

					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
		<div class="login_client">

			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="login">
							<i class="fa fa-users users"></i>
							<h1>Имате акаунт? Влезте в системата. </h1>
							<p class="msg">
								{{msg}}
							</p>
							<p class="msg confirm">
								{{msgconfirm}}
							</p>
							<div class="loginbox">

								<form method="POST" action="/login/user">

									{% load widget_tweaks %}

									{% csrf_token %}

									{{ form.username |attr:"type:text" |attr:"placeholder:Потребителско име или имейл" |attr:"class:cform-text" |attr:"size:40" }}

									{{ form.password |attr:"type:password" |attr:"placeholder:Парола" |attr:"class:cform-text" |attr:"size:40" }}

									<!--<input type="text" name="your-email" placeholder="Потребителско име" class="cform-text" size="40" title="your email">

									<input type="text" name="your-email" placeholder="Парола" class="cform-text" size="40" title="your email"><br>-->

									<br>

									<button class="cform-submit submit">
										Вход <i class="fa fa-paper-plane-o"></i>
									</button>
									<div id="loginbutton" onclick="fb_login();">
										<p>
											или
										<p>
											<img src="/static/imgs/facebook-login-bg.png" width="240"/>
									</div>
								</form>
							</div>
							<hr class="intro-divider">
							<a href="/password/reset/"><i class="fa fa-external-link"></i> Забравена парола</a>
							<br>
							<a href="/register/"><i class="fa fa-external-link"></i> Нямате акаунт? Регистрирайте се.</a>
						</div>
					</div>
				</div>

			</div>
			<!-- /.container -->

		</div>
		    <footer>
        <div class="container">
			<div class="row">
				<div class="col-md-3 col-md-offset-2">
					<ul class="footer-info">
						<li>За нас</li>
						<li><a href="/templates/about.html">Кои сме ние</a></li>
						<li><a href="/templates/about.html">Екип</a></li>
						<li><a href="/templates/about.html">История</a></li>
						<li><a href="/templates/about.html">Какво правим</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul class="footer-info">
						<li>Блог</li>
						<li><a href="http://blog.parkingsector.bg">Последни новини</a></li>
						<li><a href="http://blog.parkingsector.bg">Най-популярни</a></li>
						<li><a href="http://blog.parkingsector.bg">Полезно</a></li>
						<li><a href="http://blog.parkingsector.bg">Други публикации</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul class="footer-info">
						<li>Контакти</li>
						<li><a href="/templates/contact.html">Офис</a></li>
						<li><a href="/templates/contact.html">Поддръжка</a></li>
						<li><a href="/templates/contact.html">Връзка с екипа</a></li>
						<li><a href="/templates/contact.html">Помощ</a></li>
					</ul>
				</div>
			</div>
			<hr>
            <div class="row text-center">
                <div class="col-lg-12">				<!--<img style="float: right; display:inline-block;" src="/static/imgs/hyundai.png" width="400" />-->
                    <!--<ul class="list-inline">
                        <li><a href="#home">Начало</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#services">Услуги</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#contact">Контакти</a>
                        </li>
                    </ul>-->
                    <p class="copyright text-muted small">Copyright &copy; ParkingSector.bg 2014 Всички права запазени. <a href="#" class="grey" data-toggle="modal" data-target="#myModal">Общи условия.</a></p>
                </div>
				<!--<div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/static/imgs/hyundai.png" width="400" alt="">
                </div>-->
            </div>
			
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title text-center" id="myModalLabel">ОБЩИ УСЛОВИЯ</h4>
				</div>
				<div class="modal-body text-center">
					<h5>ЗА ПОЛЗВАНЕ НА УСЛУГАТА „Паркингсектор“, ДОСТЪПНА ПОСРЕДСТВОМ УЕБСАЙТА <a href="http://www.parkingsector.bg">www.parkingsector.bg</a> И МОБИЛНО ПРИЛОЖЕНИЕ</h5>
					<h5>ПРЕДМЕТ</h5>
					<p class="text-justify">Чл. 1. (1) Услугата „Паркингсектор“, за целите на тези общи условия наричана още УСЛУГАТА, се предоставя от дружество „Алекс Ентърпрайсиз“ (ДРУЖЕСТВОТО) посредством уебсайт с адрес „www.parkingsector.bg", както и чрез мобилно приложение.</p>
					<p class="text-justify">(2) ДРУЖЕСТВОТО има право да променя разпоредбите на тези общи условия по всяко време по реда, изискван от Закона за задълженията и договорите.</p>
					<h5>ПРАВА И ЗАДЪЛЖЕНИЯ НА СТРАНИТЕ</h5>
					<p class="text-justify">Чл. 2. УСЛУГАТА представлява договор за поръчка, страни по който са ДРУЖЕСТВОТО в качеството на ДОВЕРЕНИК, и всяко трето лице-потребител, което желае да встъпи в правоотношението в качеството на ДОВЕРИТЕЛ. </p>
					<p class="text-justify">(2) ДОВЕРЕНИКЪТ се задължава за своя сметка и от свое име да предостави информация на ДОВЕРИТЕЛЯ относно възможността, начините и условията за сключване на договор за предоставяне на услуга „паркинг“ с известните на ДОВЕРЕНИКЪТ търговци или търговски дружества в рамките на Република България.</p>
					<p class="text-justify">(3) ДОВЕРЕНИКЪТ не поема разходите, които ДОВЕРИТЕЛЯТ е направил за да се установи, да поддържа връзка или да преустанови връзка с ДОВЕРЕНИКА или неговата автоматизирана платформа за предоставяне на УСЛУГАТА. ДОВЕРИТЕЛЯТ сам осигурява необходимото му за ползването на УСЛУГАТА компютърно оборудване и достъп до Интернет.</p>
					<p class="text-justify">(4) ДОВЕРЕНИКЪТ не носи отговорност за понесените вреди от ДОВЕРИТЕЛЯ при или по повод ползване на УСЛУГАТА.</p>
					<p class="text-justify">(5) ДОВЕРЕНИКЪТ не може да бъде държан отговорен за неточно предоставена информация от трети лица.</p>
					<p class="text-justify">(6) ДОВЕРЕНИКЪТ не се задължава да покрие разходите на ДОВЕРИТЕЛЯ по сключване на окончателния договор с третото лице, предоставящо услугата „паркинг“.</p>
					<p class="text-justify">(7) ДОВЕРИТЕЛЯТ се съгласява да получава търговски съобщения и реклами от довереникът с встъпването в договорното правоотношение. Доверителят не може да се позовава на регистрацията си в Регистъра за електронните адреси на юридическите лица, които не желаят да получават непоискани търговски съобщения за да ангажира отговорността на Довереника.</p>
					<p class="text-justify">(8)ДОВЕРИТЕЛЯТ може да представя информация за търговци, предоставящи услуги по паркинг, както и зони за паркинг, в случай, че пожелае, без да му се дълживъзнаграждение. В случай на предоставяне на неверни данни, ДОВЕРЕНИКЪТ има право да прекрати или спре незабавно и без предизвестие предоставянето на Услугите, както и поддържането на регистрацията на ДОВЕРИТЕЛЯ.</p>
					<p class="text-justify">(9) ДОВЕРИТЕЛ по това правоотношение може да бъде само физическо лице.</p>
					<h5>НАЧИН НА СКЛЮЧВАНЕ НА ДОГОВОРА</h5>
					<p class="text-justify">Чл. 3 (1) За да използва предоставяната от ДОВЕРЕНИКЪТ услуга, ДОВЕРИТЕЛЯТ е длъжен предварително да се регистрира, като попълни съответната електронна форма за регистрация, достъпна в реално време чрез автоматизираната система на ДОВЕРЕНИКЪТ и изрази съгласие с настоящите Общи условия. При регистрация на непълнолетно лице, същото декларира и съгласието на своите родители или попечители с Общите условия. В случаите на регистрация на лице под 14-годишна възраст, заявлението за съгласие с Общите условия се извършва от родител или настойник на същото.</p>
					<p class="text-justify">(2) Чрез натискане на виртуалния бутон "Потвърди", ДОВЕРИТЕЛЯТ извършва електронно изявление по смисъла на Закона за електронния документ и електронния подпис, с което декларира, че е запознат с настоящите Общи условия, приема ги и се задължава да ги спазва. Със записването му на съответен носител в сървъра на Дружеството чрез общоприет стандарт за преобразуване по технически начин, правещ възможно неговото възпроизвеждане, електронното изявление придобива качеството на електронен документ по смисъла на цитирания закон. Дружеството може да съхранява в лог-файлове на своя сървър IP адреса на ДОВЕРИТЕЛЯ, както и всяка друга информация, необходима за идентифициране на ДОВЕРИТЕЛЯ и възпроизвеждане на електронното му изявление за приемане на Общите условия, в случай на възникване на правен спор.</p>
					<p class="text-justify">(3) ДОВЕРИТЕЛЯТ, с приемане на тези общи условия, се съгласява информацията, която не представлява лични данни по смисъла на Закона за защита на личните данни, да бъде съхранявана и използвана от ДОВЕРЕНИКА за целите на конкретното правоотношение, както и за евентуални бъдещи еднотипни договори за поръчка.</p>
					<p class="text-justify">(4) Преди извършване на изявлението по ал.1 и ал. 2 ДОВЕРИТЕЛЯТ може свободно да поправя въведената от него информация в регистрационната форма.</p>
					<p class="text-justify">(5) При попълване заявлението за регистрация ДОВЕРИТЕЛЯТ, а в случаите на ал. 1, предложение последно, родителят или настойникът на ДОВЕРИТЕЛЯ, е длъжен да предостави пълни и верни данни, изискуеми от електронната форма наДружеството. ДОВЕРИТЕЛЯТ гарантира, че данните, които предоставя в процеса на регистрация, са верни, пълни и точни и при промяна на последните, ще ги актуализира своевременно. В случай на предоставяне на неверни данни, Дружеството има право да прекрати или спре незабавно и без предизвестие предоставянето на Услугите, както и поддържането на регистрацията на ДОВЕРИТЕЛЯ.</p>
					<p class="text-justify">(6) Родителите, упражняващи родителски права, настойниците или попечителите на ненавършило пълнолетие лице, отговарят за всички вреди, причинени от същото, на Дружеството и на трети лица при регистрацията и ползването на УСЛУГАТА - предмет на настоящите Общи условия, както и за всички вреди в следствие посочване на неверни данни.</p>
					<p class="text-justify">(7) Стъпката по регистрацияможе да бъде алтернативно заместена чрез изразяване на съгласие на потребителя за ползване на негова регистрация на уеб сайт адрес “www.facebook.com” и всякакви други брандирани и ко-брандирани с “Facebook” уеб сайтове (включително поддомейни, международни версии, визуални елементи и мобилни версии) при спазване на условията и начините, определени между ДОВЕРИТЕЛЯ и FACEBOOK INC. или Facebook Ireland Limited и настоящите общи условия.</p>
					<h5>Недействителност</h5>
					<p class="text-justify">чл.5 Недействителността на една от клаузите на тези общи условия не влече недействителност на останалата част от общите условия, освен в случаите на нарушение по чл. 2 ал. 8 от настоящите общи условия.</p>
					<h5>Приложимо право</h5>
					<p class="text-justify">Чл.6 По всички неуредени от настоящите Общи условия въпроси се прилагат разпоредбите на действащото законодателство на Република България.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
				</div>
				</div>
			</div>
			</div>
        </div>
    </footer>
		<!-- JavaScript -->
		<script src="/static/bootstrap/js/jquery-1.10.2.js"></script>
		<script src="/static/bootstrap/js/bootstrap.js"></script>
		<script src="/static/js/fblogin.js"></script>
		<script>

			function testAPI() {
				//console.log('Welcome!  Fetching your information.... ');
				FB.api('/me', function(response) {
					//alert('Successful login for: ' + response.name + " email: " + response.email);
					//document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.name + '!';
					login_or_register(response.email, response.name, response.id);
				});
			}

			function login_or_register(email, username, id) {
				$.ajax({
					url : "/loginOrRegister/",
					type : 'POST', //this is the default though, you don't actually need to always mention it
					xhrFields : {
						withCredentials : true
					},
					headers : {
						'X-Requested-With' : 'XMLHttpRequest'
					},
					data : {
						username : username,
						email : email,
						fb_id : id,
						csrfmiddlewaretoken : '{{ csrf_token }}'
					},
					success : function(data) {
						if (data == 'fblogin complete' || data == "registration with fb complete")
							window.location.href = '/profile/';
						else
							alert(data);
					},
					error : function(error) {
						// Log any error.
						console.log("ERROR:", error);
					},
				});
			}

		</script>

	</body>

</html>
