<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>ParkingSector.bg | Времето ни е ценно!</title>

		<!-- Bootstrap core CSS -->
		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Custom Google Web Font -->
		<link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

		<!-- Add custom CSS here -->
		<link href="/static/css/loginuser.css" rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">
		<link href="/static/test/font-awesome-4.1.0/css/font-awesome.css" rel="stylesheet">

	</head>

	<body>

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" style="padding-top:2px !important;" href="/"><img src='/static/imgs/logo_web.png'/></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="/" class="btn-three">Начало</a>
						</li>
						<li>
							<a href="/#services" class="btn-three">Услуги</a>
						</li>
						<li>
							<a href="/#contact" class="btn-three">Контакти</a>
						</li>

					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
		<div class="login_client">

			<div class="container">

				<div class="row">
					<div class="col-lg-12">
						<div class="login">
							<i class="fa fa-unlock-alt users"></i>
							<h1>Променете паролата си оттук. </h1>
							<div class="msg" style="color:#1C378A;"></div>
							<div class="loginbox">

								<input type="password" name="your-email" placeholder="Нова Парола" class="cform-text password" size="40" title="your email">

								<input type="password" name="your-email" placeholder="Потвърди Паролата" class="cform-text password1" size="40" title="your email">
								<br>

								<br>

								<button class="cform-submit submit" onclick="setNewPassword();">
									Продължи
								</button>
							</div>
							<hr class="intro-divider">
							<a href="/password/reset/"><i class="fa fa-external-link"></i> Забравена парола</a>
							<br>
							<a href="/register/"><i class="fa fa-external-link"></i> Нямате акаунт? Регистрирайте се.</a>
						</div>
					</div>
				</div>

			</div>
			<!-- /.container -->

		</div>
		<!-- JavaScript -->
		<script src="/static/bootstrap/js/jquery-1.10.2.js"></script>
		<script src="/static/bootstrap/js/bootstrap.js"></script>
		<script>
			$('.password1').keydown(function(event) {
				var keypressed = event.keyCode || event.which;
				if (keypressed == 13) {
					$(".submit").trigger("click");
				}
			});
			function setNewPassword() {
				if ($(".password").val() != $(".password1").val()) {
					alert("Паролите не съвпадат!");
					return;
				}

				$.ajax({
					url : "/setNewPassword/",
					type : 'POST', //this is the default though, you don't actually need to always mention it
					xhrFields : {
						withCredentials : true
					},
					headers : {
						'X-Requested-With' : 'XMLHttpRequest'
					},
					data : {
						id : "{{user_id}}",
						new_password : $(".password").val(),
						csrfmiddlewaretoken : '{{ csrf_token }}'
					},
					success : function(data) {
						if (data == 'Password reset complete') {
							$(".password").val("");
							$(".password1").val("");
							$(".msg").html("Създадохте нова парола успешно.");
						} else
							alert(data);
					},
					error : function(error) {
						// Log any error.
						console.log("ERROR:", error);

					},
				});
			}
		</script>

	</body>

</html>
