<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>ParkingSector.bg | Времето ни е ценно!</title>

		<!-- Bootstrap core CSS -->
		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Custom Google Web Font -->
		<link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

		<!-- Add custom CSS here -->
		<link href="/static/css/loginuser.css" rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">
		<link href="/static/test/font-awesome-4.1.0/css/font-awesome.css" rel="stylesheet">

	</head>

	<body>

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">ParkingSector.bg</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="/" class="btn-one">Начало</a>
						</li>
						<li>
							<a href="/#services" class="btn-two">Услуги</a>
						</li>
						<li>
							<a href="/#contact" class="btn-three">Контакти</a>
						</li>

					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
		<div class="login_client">

			<div class="container">

				<div class="row">
				<div class="login">
					<div class="col-lg-12 login">
						<div class="col-lg-4">
							<i class="fa fa-user users"></i>
							<h1>Регистрация</h1>
							<br>
							<div id="loginbutton" onclick="fb_login();">
								<p>или<p>
								<img src="/static/imgs/facebook-login-bg.png" width="240"/>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="loginbox">

								<form id="registerForm" method="POST" action="/register/">

									{% load widget_tweaks %}

									{% csrf_token %}

									{{ form.username |attr:"type:text" |attr:"placeholder:Потребителско име" |attr:"class:cform-text username" |attr:"size:40" }}

									{{ form.email |attr:"type:text" |attr:"placeholder:E-mail" |attr:"class:cform-text email" |attr:"size:40" }}

									{{ form.password |attr:"type:password" |attr:"placeholder:Парола" |attr:"class:cform-text pass" |attr:"size:40" }}

									{{ form.password1 |attr:"type:password" |attr:"placeholder:Повторете паролата" |attr:"class:cform-text pass2" |attr:"size:40" }}

									<!--<input type="text" name="your-email" placeholder="Потребителско име" class="cform-text" size="40" title="your email">

									<input type="text" name="your-email" placeholder="Парола" class="cform-text" size="40" title="your email"><br>-->

									<br>
										<p class="msg">
											{{msg}}
										</p>
									<button class="cform-submit submit">
										Напред <i class="fa fa-paper-plane-o"></i>
									</button>
									
								</form>
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
									<h4 class="modal-title black" id="myModalLabel">Активация на акаунт</h4>
									</div>
									<div class="modal-body">
									<p class="black">
									Създадохте акаунта си успешно. Моля, активирайте го от вашия имейл<br> от тук<br><a class="blue"></a>
									</p>
									</div>

								</div>
								</div>
								</div>
							</div>
							<hr class="intro-divider">
							<a href="/login/user"><i class="fa fa-external-link"></i> Имате акаунт? Влезте в профила си.</a>
						</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.container -->

		</div>
		<!-- JavaScript -->
		<script src="/static/bootstrap/js/jquery-1.10.2.js"></script>
		<script src="/static/bootstrap/js/bootstrap.js"></script>
		<script>
		
			if("{{registration}}"=="successful"){
				var str = "{{email}}";
				var n = str.indexOf("@");
				var emailextention = str.slice(n, str.length);
				var email = "http://www."+emailextention;
				$('.blue').attr('href', email);
				$('.blue').html(email);
				$('#myModal').modal('show'); 
			}
			
			// This is called with the results from from FB.getLoginStatus().
			function statusChangeCallback(response) {
				console.log('statusChangeCallback');
				console.log(response);
				// The response object is returned with a status field that lets the
				// app know the current login status of the person.
				// Full docs on the response object can be found in the documentation
				// for FB.getLoginStatus().
				if (response.status === 'connected') {
					// Logged into your app and Facebook.
					//testAPI();
					console.log('connected');
				} else if (response.status === 'not_authorized') {
					// The person is logged into Facebook, but not your app.
					console.log('Please log ' + 'into this app.');
				} else {
					// The person is not logged into Facebook, so we're not sure if
					// they are logged into this app or not.
					console.log('Please log ' + 'into Facebook.');
				}
			}

			// This function is called when someone finishes with the Login
			// Button.  See the onlogin handler attached to it in the sample
			// code below.
			/*function checkLoginState() {
				FB.getLoginStatus(function(response) {
					statusChangeCallback(response);
				});
			}*/


			window.fbAsyncInit = function() {
				FB.init({
					appId : '279009708952641',
					cookie : true, // enable cookies to allow the server to access
					// the session
					xfbml : true, // parse social plugins on this page
					version : 'v2.0' // use version 2.0
				});

				// Now that we've initialized the JavaScript SDK, we call
				// FB.getLoginStatus().  This function gets the state of the
				// person visiting this page and can return one of three states to
				// the callback you provide.  They can be:
				//
				// 1. Logged into your app ('connected')
				// 2. Logged into Facebook, but not your app ('not_authorized')
				// 3. Not logged into Facebook and can't tell if they are logged into
				//    your app or not.
				//
				// These three cases are handled in the callback function.

				FB.getLoginStatus(function(response) {
					statusChangeCallback(response);
				});

			};

			// Load the SDK asynchronously
			( function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id))
						return;
					js = d.createElement(s);
					js.id = id;
					js.src = "//connect.facebook.net/en_US/sdk.js";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));

			// Here we run a very simple test of the Graph API after login is
			// successful.  See statusChangeCallback() for when this call is made.
			function testAPI() {
				//console.log('Welcome!  Fetching your information.... ');
				FB.api('/me', function(response) {
					//alert('Successful login for: ' + response.name + " email: " + response.email);
					//document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.name + '!';
					//alert(response.email +" "+response.name);
					$('#registerForm').attr("action", "/registerfb/");
					$('.username').val(response.name);
					$('.email').val(response.email);
					$('.msg').html("<div class='alert alert-warning'>За да приключите регистрацията си с FB, моля въведете парола.</div>");
				});
			}

			function fb_login() {
				FB.login(function(response) {

					if (response.authResponse) {
						console.log('Welcome!  Fetching your information.... ');
						//console.log(response); // dump complete info
						access_token = response.authResponse.accessToken;
						//get access token
						user_id = response.authResponse.userID;
						//get FB UID

						testAPI();

					} else {
						//user hit cancel button
						console.log('User cancelled login or did not fully authorize.');

					}
				}, {
					scope : 'public_profile,email'
				});
			}
		</script>

	</body>

</html>
