<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>socketio</title>
		<meta name="description" content="">
		<meta name="author" content="mi6aka">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<script src="/static/bootstrap/js/jquery-1.10.2.js"></script>
		{% load socketio_tags %}
		{% socketio %}
		<script>
			var socket = new io.Socket(null, {port: 3306, rememberTransport: false});
			console.log(socket);
			console.log("{{ request.environ.SERVER_PORT |default:'9000'}}");
			socket.connect();

		</script>
	</head>

	<body>
		<div>
			<header>
				<h1>socketio</h1>
			</header>

			<div>
				<input type="text" autocomplete="off" id="text">
				<input type="button" value="Send" onclick="send();">
			</div>

		</div>
		<script>
			socket.on('message', function(obj) {
				if ('message' in obj) {
					alert(obj.message);
				} else
					alert("no message");
			});

			function send() {
				var val = document.getElementById('text').value;
				socket.send(val);
				message({
					message : ['you', val]
				});
				document.getElementById('text').value = '';
			}
		</script>
	</body>
</html>