<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/imgs/favs/favicon.ico">
		<link rel="icon" sizes="16x16 32x32 64x64" href="/static/imgs/favs/favicon.ico">
		<link rel="icon" type="image/png" sizes="196x196" href="/static/imgs/favs/favicon-196.png">
		<link rel="icon" type="image/png" sizes="160x160" href="/static/imgs/favs/favicon-160.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/static/imgs/favs/favicon-96.png">
		<link rel="icon" type="image/png" sizes="64x64" href="/static/imgs/favs/favicon-64.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/imgs/favs/favicon-32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/imgs/favs/favicon-16.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/imgs/favs/favicon-152.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/imgs/favs/favicon-144.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/imgs/favs/favicon-120.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/imgs/favs/favicon-114.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/static/imgs/favs/favicon-76.png">
		<link rel="apple-touch-icon" sizes="72x72" href="static/imgs/favs/favicon-72.png">
		<link rel="apple-touch-icon" href="static/imgs/favs/favicon-57.png">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="/static/imgs/favs/favicon-144.png">
		<meta name="msapplication-config" content="/static/imgs/favs/browserconfig.xml">
		<link rel="stylesheet" type="text/css" href="/static/css/jquery.countdown.css"> 
		
		<!-- SEO meta tags -->
		<meta name="description" content="ParkingSector.bg може да Ви спести време и нерви. Ако искате бързо и удобно да намерите Вашето място за паркиране използвайте нашата платформа."/>
		<meta name="keywords" content="паркинг, паркинги, паркиране, платен, частен, свободен"/>
		<meta name="author" content="Александър Панайотов, Ангел Великов, Михаил Панайотов"/>
		<meta name="purpose" content="ParkingSector помага да намерите място за паркиране"/>
		<meta name="distribution" content="Global" />
		<meta name="rating" content="General" />
		<meta name="robots" content="index, follow" />
		<meta name="publisher" content="Parkingsector.bg" />
		<meta name="classification" content="service, free service, Ltd" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="revisit-after" content="21 days" />
		<!-- End of SEO meta tags -->
		
		<!-- Facebook meta tags -->
		<meta property="og:locale" content="bg_BG">
		<meta property="og:type" content="website">
		<meta property="fb:app_id" content="279009708952641"/>
		<meta property="fb:admins" content="100000364223040"/>
		<meta property="og:title" content="ParkingSector.bg | Времето ни е ценно!">
		<meta property="og:site_name" content="ParkingSector">
		<meta property="og:url" content="http://parkingsector.bg">
		<meta property="og:description" content="ParkingSector">
		<meta name="description" content="Първата платформа в България, която показва паркинги и техните цени около вас в реално време.">
		<meta property="og:description" content="Първата платформа в България, която показва паркинги и техните цени около вас в реално време.">
		
		<link rel="image_src" href="http://parkingsector.bg/static/imgs/favicon.png" / >
		<meta property="og:image" content="http://parkingsector.bg/static/imgs/favicon.png">
		<meta property="og:image:type" content="image/png">
		<meta property="og:image:width" content="1024">
		<meta property="og:image:height" content="1024">
		<!-- End of Facebook meta tags -->
    <title>ParkingSector.bg | Времето ни е ценно!</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	
    <!-- Custom Google Web Font -->
    <link href="/static/bootstrap/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="/static/bootstrap/css/style.css" rel="stylesheet">
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"
		type="text/javascript"></script>
		
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding-top:2px !important;" href="/"><img src='/static/imgs/logo_web.png'/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/templates/scroller.html" class="btn-three">Как работи</a>
                    </li>
					<li><a href="/addParkingView/" class="btn-three">Добавете паркинг</a>
                    </li>
					<li>
						{% if user.is_authenticated %}
							<a href="/profile" class="lasta" id="dropdownMenu1" data-toggle="dropdown"><!--<i id="i" class="fa fa-user">--></i><img class="profile" id="my_image" src="/static/imgs/default.jpg" width="50" height="50"/> {{ user.username }}<b class="caret"></b></a>

							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								<li role="presentation">
									<a href="/profile" role="menuitem" tabindex="-1" href="#"> Профил</a>
								</li>
								<li role="presentation">
									<a href="/logout" role="menuitem" tabindex="-1" href="#"><i class="fa fa-power-off"></i> Изход</a>
								</li>
							</ul>
						{% else %}
									<a class="login btn-three" class="btn-four" href="/login/user">Login</a>
						{% endif %}
                    </li>
					{% if user.is_authenticated %}
					{% else %}
					<li>
						<a class="login btn-special" href="/register">Sign Up</a>
					</li>
					{% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">    <div class="carousel-inner">	<div class="item active">-->
    <div id="home" class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message on-landing">
                        <h3 class="special-heading">Намерете вашето място за паркиране.</h3>
						<h3 class="special-subheading">Изберете от над 5000 места в няколко града!</h3>
						<div class="searchbox">
							<form method="post" class="formAddress" id="location" action="/getLocation/">
							{% load widget_tweaks %}
							{% csrf_token %}
								{{ addressForm.address |attr:"id:addressInput"|attr:"class:cform-text" | attr:"size:40"| attr:"placeholder: Къде ще паркирате?" }}
								<!--<input type="text" name="your-email" placeholder="Потърси място..." class="cform-text" size="40" title="your email">-->
								{{ addressForm.lat |attr:'hidden' |attr:"class:lat" }}
								{{ addressForm.lng |attr:"hidden" |attr:"class:lng" }}								<div class="cform-submit"><i class="fa fa-search" onclick="getCoordinationsByGeocoding();"></i> </div>
								<input type='submit' class='submitButton' name='addressForm' hidden/>
							</form>
						</div>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <!--<li onclick="checkForLogin();markHomeBooking();"><a class="btn btn-default btn-lg emerald"><i class="fa fa-check-square-o"></i> <span class="network-name">Запази място</span></a>
                            </li> или-->
                            <li onclick="getLocation();"><a class="btn btn-default btn-lg emerald"><i class="fa fa-map-marker"></i> <span class="network-name"> Места до мен </span></a>
                            </li>
                        </ul>
                    </div>
					<!--subscirbe-popup-->
					<div class='subscribeBox intro-message' hidden>
						<span class='glyphicon glyphicon-remove close' onclick='closeSubscribe();'></span>
						<p class='top-label'>
							Получавайте известия от нас
						</p>
						<div class='under-label-line'></div>
						<p class="msg"></p>
						<form method='post'>
							{% csrf_token %}
							<div class='sub-wrapper'>
								<div>
									{{ subscribeForm.name |attr:'class:sub-name form-control' |attr:'placeholder:Име' }}
								</div>
								<div>
									{{ subscribeForm.email |attr:'class:sub-email form-control' |attr:'placeholder:E-mail' }}
								</div>
							</div>
							<input type='submit' class='sub-button' name='subsribeForm' hidden/>
						</form>
						<div class='subscribeButton' onclick='submitViewer();'>
							Готово!
						</div>
					</div>
				<!--subscirbe-popup-->
                </div>				  <!-- Controls -->  <a class="left carousel-control pointer" href="#" onclick="$('.intro-header').bgswitcher('next');" role="button" data-action="prev">    <span class="glyphicon glyphicon-chevron-left"></span>  </a>  <a class="right carousel-control pointer" href="#" onclick="$('.intro-header').bgswitcher('prev');" role="button" data-action="next">    <span class="glyphicon glyphicon-chevron-right"></span>  </a>
            </div>

        </div>
        <!-- /.container -->
	</div>
    <!--</div>	 </div></div>-->
	<div class="entries">
			<h4><i class="fa fa-android"></i> <span>Вече и в <a href="https://play.google.com/store/apps/details?id=com.parkingsector&hl=en"><img src="/static/imgs/google_play.png" width="220" /></a> Очаквайте ни скоро и в Apple Store</span><!--Още <span id="defaultCountdown"></span> до пускане на мобилната версия!--></h4>
	</div>
		<div class="container">
		<!--<section id="portfolio">
        <div class="container">
            <div class="row"><br>
                <div class="col-lg-10 col-md-offset-1 text-left">
                    <h3>Предстоящи събития</h3>
					<p class="sub-para">Паркинги около предстоящите събития в града</p>
                </div>
            </div>
            <div class="row">
            <form id="redirectToMapEvent" action="" method="GET">
               {% for event in events %}
	                <div class="col-sm-4 parking-item">
	                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
	                        <div class="caption">
	                            <div class="caption-content">
	                            </div>
	                        </div>
	                        <img id="{{event.lat}}/{{event.lng}}" src="/static/imgs/events/{{event.image}}" onclick="redirectToMapFromEvents(this);" class="img-responsive" alt="" />
	                    </a>
	                </div>        
               {% endfor %}
               		<input type="submit" id="eventsSubmit" hidden/>
            	</form>
        </div>
    </section>-->
	    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-offset-1 text-left">
                    <h3>Популярни дестинации</h3>
					<p class="sub-para">Паркинги около най-търсените места в града</p>
                </div>
            </div>
            <div class="row">
				<form id="redirectToMapDestination" action="" method="GET">
	            	{% for location in locations %}
		            	<div class="col-sm-4 parking-item">
		                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
		                        <div class="caption">
		                            <div class="caption-content">
		                            </div>
		                        </div>
		                        <!--<h1 class="text-special">{{location.name}}</h1>-->
		                        <img id="{{location.lat}}/{{location.lng}}" src="/static/imgs/parkings/{{location.image}}" onclick="redirectToMapFromDestinations(this);" class="img-responsive" alt="" />
		                    </a>
		                </div>
	            	{% endfor %}
	            	<input type="submit" id="destinationsSubmit" hidden/>
            	</form>
                <!--<div class="col-sm-4 parking-item">
                <div class="col-sm-4 parking-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <img src="/static/imgs/parkings/parking1.jpg" class="img-responsive" alt="" />
                    </a>
                </div>
                <div class="col-sm-4 parking-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <img src="/static/imgs/parkings/parking2.jpg" class="img-responsive" alt="" />
                    </a>
                </div>
                <div class="col-sm-4 parking-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <img src="/static/imgs/parkings/parking3.jpg" class="img-responsive" alt="" />
                    </a>
                </div>
                <div class="col-sm-4 parking-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <img src="/static/imgs/parkings/parking4.jpg" class="img-responsive" alt="" />
                    </a>
                </div>
                <div class="col-sm-4 parking-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <img src="/static/imgs/parkings/parking5.jpg" class="img-responsive" alt="" />
                    </a>
                </div>
                <div class="col-sm-4 parking-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                            </div>
                        </div>
                        <img src="/static/imgs/parkings/parking6.jpg" class="img-responsive" alt="" />
                    </a>
                </div>
            </div>-->
        </div>
    </section>
	</div>
	<!--Three columns-->
	    <div id="services" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Нашите услуги</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-0 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-map-marker"></i>
                        <h3>Местоположение</h3>
                        <p>Стартирайте приложението и за няколко секунди намерете най-удобното за Вас място. <br><br><br></p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-clock-o"></i>
                        <h3>Времето е ценно.</h3>
                        <p>Защо да губите време, когато можете да разчитате на нас? С ParkingSector.bg пестите време и усилия.<br><br></p>
                    </div>
                </div>	
				<!--<div class="col-md-3 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-usd"></i>
                        <h3>Спести</h3>
                        <p>Намери и се възползвай от най-изгодните цени и оферти за паркоместа в твоя град.<br><br><br></p>
                    </div>
                </div>-->
				<div class="col-md-3 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-car"></i>
                        <h3>Трафик</h3>
                        <p>С вградената карта виждате най-натоварените участъци от движението и можете да изберете заобиколни маршрути.<br><br><br></p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-mobile"></i>
                        <h3>Удобство</h3>
                        <p>Лесната достъпност е предимство. Използвайте приложението от Вашето любимо устройство - смартфон или таблет.</p>
                    </div>
                </div>
            </div>
        </div>
     </div>
	<!--/Three columns-->
    <!-- /.intro-header -->
	<div id="contact" class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Към социалните мрежи:</h2>
                </div>
                <div class="col-lg-4">
                    <ul class="list-inline banner-social-buttons">
                        <li><a href="http://www.twitter.com/ParkingSector" target="_blank" class="btn btn-default btn-lg twitter"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li><a href="http://www.facebook.com/ParkingSector" target="_blank" class="btn btn-default btn-lg facebook"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
	<!--<div class="content-section-b">

        <div class="container">

            <div class="row">
				<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Напишете ни e-mail !</h2>
                    <p class="lead"> Ако имате предложения относно приложението или просто искате да се свържете с нас, може да използвате контактната форма.<br><br><br>office@parkingsector.bg</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6 ">
						
						<form method="post" action="/static/phpCF/contactengine.php">
							<label for="Name">Име:</label><br>
							<input type="text" name="Name" id="Name" class="form-control inputForm"/>
							<br>
							<label for="Email">E-mail: </label><br>
							<input type="text" name="Email" id="Email" class="form-control inputForm"/>
							<br>
							<label for="Message">Съобщение:</label><br />
							<textarea name="Message" id="Message" class="form-control textareaForm"></textarea>
							<br>
							<div class="btnHolder">
							<input type="submit" name="submit" value="Изпрати" class="submit-button" />
							</div>
						</form>
						
						<div style="clear: both;"></div>
						
					
                </div>
            </div>

        </div>
        <!-- /.container -->

    <!--</div>-->
    <footer>
        <div class="container">
			<div class="row">
				<div class="col-md-3 col-md-offset-2">
					<ul class="footer-info">
						<li>За нас</li>
						<li><a href="/templates/about.html">Кои сме ние</a></li>
						<li><a href="/templates/about.html">Екип</a></li>
						<li><a href="/templates/about.html">История</a></li>
						<li><a href="/templates/about.html">Какво правим</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul class="footer-info">
						<li>Блог</li>
						<li><a href="http://blog.parkingsector.bg">Последни новини</a></li>
						<li><a href="http://blog.parkingsector.bg">Най-популярни</a></li>
						<li><a href="http://blog.parkingsector.bg">Полезно</a></li>
						<li><a href="http://blog.parkingsector.bg">Други публикации</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul class="footer-info">
						<li>Контакти</li>
						<li><a href="/templates/contact.html">Офис</a></li>
						<li><a href="/templates/contact.html">Поддръжка</a></li>
						<li><a href="/templates/contact.html">Връзка с екипа</a></li>
						<li><a href="/templates/contact.html">Помощ</a></li>
					</ul>
				</div>
			</div>
			<hr>
            <div class="row text-center">
                <div class="col-lg-12">				<!--<img style="float: right; display:inline-block;" src="/static/imgs/hyundai.png" width="400" />-->
                    <!--<ul class="list-inline">
                        <li><a href="#home">Начало</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#services">Услуги</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#contact">Контакти</a>
                        </li>
                    </ul>-->
                    <p class="copyright text-muted small">Copyright &copy; ParkingSector.bg 2014 Всички права запазени. <a href="#" class="grey" data-toggle="modal" data-target="#myModal">Общи условия.</a></p>
                </div>
				<!--<div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/static/imgs/hyundai.png" width="400" alt="">
                </div>-->
            </div>
			
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title text-center" id="myModalLabel">ОБЩИ УСЛОВИЯ</h4>
				</div>
				<div class="modal-body text-center">
					<h5>ЗА ПОЛЗВАНЕ НА УСЛУГАТА „Паркингсектор“, ДОСТЪПНА ПОСРЕДСТВОМ УЕБСАЙТА <a href="http://www.parkingsector.bg">www.parkingsector.bg</a> И МОБИЛНО ПРИЛОЖЕНИЕ</h5>
					<h5>ПРЕДМЕТ</h5>
					<p class="text-justify">Чл. 1. (1) Услугата „Паркингсектор“, за целите на тези общи условия наричана още УСЛУГАТА, се предоставя от дружество „Алекс Ентърпрайсиз“ (ДРУЖЕСТВОТО) посредством уебсайт с адрес „www.parkingsector.bg", както и чрез мобилно приложение.</p>
					<p class="text-justify">(2) ДРУЖЕСТВОТО има право да променя разпоредбите на тези общи условия по всяко време по реда, изискван от Закона за задълженията и договорите.</p>
					<h5>ПРАВА И ЗАДЪЛЖЕНИЯ НА СТРАНИТЕ</h5>
					<p class="text-justify">Чл. 2. УСЛУГАТА представлява договор за поръчка, страни по който са ДРУЖЕСТВОТО в качеството на ДОВЕРЕНИК, и всяко трето лице-потребител, което желае да встъпи в правоотношението в качеството на ДОВЕРИТЕЛ. </p>
					<p class="text-justify">(2) ДОВЕРЕНИКЪТ се задължава за своя сметка и от свое име да предостави информация на ДОВЕРИТЕЛЯ относно възможността, начините и условията за сключване на договор за предоставяне на услуга „паркинг“ с известните на ДОВЕРЕНИКЪТ търговци или търговски дружества в рамките на Република България.</p>
					<p class="text-justify">(3) ДОВЕРЕНИКЪТ не поема разходите, които ДОВЕРИТЕЛЯТ е направил за да се установи, да поддържа връзка или да преустанови връзка с ДОВЕРЕНИКА или неговата автоматизирана платформа за предоставяне на УСЛУГАТА. ДОВЕРИТЕЛЯТ сам осигурява необходимото му за ползването на УСЛУГАТА компютърно оборудване и достъп до Интернет.</p>
					<p class="text-justify">(4) ДОВЕРЕНИКЪТ не носи отговорност за понесените вреди от ДОВЕРИТЕЛЯ при или по повод ползване на УСЛУГАТА.</p>
					<p class="text-justify">(5) ДОВЕРЕНИКЪТ не може да бъде държан отговорен за неточно предоставена информация от трети лица.</p>
					<p class="text-justify">(6) ДОВЕРЕНИКЪТ не се задължава да покрие разходите на ДОВЕРИТЕЛЯ по сключване на окончателния договор с третото лице, предоставящо услугата „паркинг“.</p>
					<p class="text-justify">(7) ДОВЕРИТЕЛЯТ се съгласява да получава търговски съобщения и реклами от довереникът с встъпването в договорното правоотношение. Доверителят не може да се позовава на регистрацията си в Регистъра за електронните адреси на юридическите лица, които не желаят да получават непоискани търговски съобщения за да ангажира отговорността на Довереника.</p>
					<p class="text-justify">(8)ДОВЕРИТЕЛЯТ може да представя информация за търговци, предоставящи услуги по паркинг, както и зони за паркинг, в случай, че пожелае, без да му се дълживъзнаграждение. В случай на предоставяне на неверни данни, ДОВЕРЕНИКЪТ има право да прекрати или спре незабавно и без предизвестие предоставянето на Услугите, както и поддържането на регистрацията на ДОВЕРИТЕЛЯ.</p>
					<p class="text-justify">(9) ДОВЕРИТЕЛ по това правоотношение може да бъде само физическо лице.</p>
					<h5>НАЧИН НА СКЛЮЧВАНЕ НА ДОГОВОРА</h5>
					<p class="text-justify">Чл. 3 (1) За да използва предоставяната от ДОВЕРЕНИКЪТ услуга, ДОВЕРИТЕЛЯТ е длъжен предварително да се регистрира, като попълни съответната електронна форма за регистрация, достъпна в реално време чрез автоматизираната система на ДОВЕРЕНИКЪТ и изрази съгласие с настоящите Общи условия. При регистрация на непълнолетно лице, същото декларира и съгласието на своите родители или попечители с Общите условия. В случаите на регистрация на лице под 14-годишна възраст, заявлението за съгласие с Общите условия се извършва от родител или настойник на същото.</p>
					<p class="text-justify">(2) Чрез натискане на виртуалния бутон "Потвърди", ДОВЕРИТЕЛЯТ извършва електронно изявление по смисъла на Закона за електронния документ и електронния подпис, с което декларира, че е запознат с настоящите Общи условия, приема ги и се задължава да ги спазва. Със записването му на съответен носител в сървъра на Дружеството чрез общоприет стандарт за преобразуване по технически начин, правещ възможно неговото възпроизвеждане, електронното изявление придобива качеството на електронен документ по смисъла на цитирания закон. Дружеството може да съхранява в лог-файлове на своя сървър IP адреса на ДОВЕРИТЕЛЯ, както и всяка друга информация, необходима за идентифициране на ДОВЕРИТЕЛЯ и възпроизвеждане на електронното му изявление за приемане на Общите условия, в случай на възникване на правен спор.</p>
					<p class="text-justify">(3) ДОВЕРИТЕЛЯТ, с приемане на тези общи условия, се съгласява информацията, която не представлява лични данни по смисъла на Закона за защита на личните данни, да бъде съхранявана и използвана от ДОВЕРЕНИКА за целите на конкретното правоотношение, както и за евентуални бъдещи еднотипни договори за поръчка.</p>
					<p class="text-justify">(4) Преди извършване на изявлението по ал.1 и ал. 2 ДОВЕРИТЕЛЯТ може свободно да поправя въведената от него информация в регистрационната форма.</p>
					<p class="text-justify">(5) При попълване заявлението за регистрация ДОВЕРИТЕЛЯТ, а в случаите на ал. 1, предложение последно, родителят или настойникът на ДОВЕРИТЕЛЯ, е длъжен да предостави пълни и верни данни, изискуеми от електронната форма наДружеството. ДОВЕРИТЕЛЯТ гарантира, че данните, които предоставя в процеса на регистрация, са верни, пълни и точни и при промяна на последните, ще ги актуализира своевременно. В случай на предоставяне на неверни данни, Дружеството има право да прекрати или спре незабавно и без предизвестие предоставянето на Услугите, както и поддържането на регистрацията на ДОВЕРИТЕЛЯ.</p>
					<p class="text-justify">(6) Родителите, упражняващи родителски права, настойниците или попечителите на ненавършило пълнолетие лице, отговарят за всички вреди, причинени от същото, на Дружеството и на трети лица при регистрацията и ползването на УСЛУГАТА - предмет на настоящите Общи условия, както и за всички вреди в следствие посочване на неверни данни.</p>
					<p class="text-justify">(7) Стъпката по регистрацияможе да бъде алтернативно заместена чрез изразяване на съгласие на потребителя за ползване на негова регистрация на уеб сайт адрес “www.facebook.com” и всякакви други брандирани и ко-брандирани с “Facebook” уеб сайтове (включително поддомейни, международни версии, визуални елементи и мобилни версии) при спазване на условията и начините, определени между ДОВЕРИТЕЛЯ и FACEBOOK INC. или Facebook Ireland Limited и настоящите общи условия.</p>
					<h5>Недействителност</h5>
					<p class="text-justify">чл.5 Недействителността на една от клаузите на тези общи условия не влече недействителност на останалата част от общите условия, освен в случаите на нарушение по чл. 2 ал. 8 от настоящите общи условия.</p>
					<h5>Приложимо право</h5>
					<p class="text-justify">Чл.6 По всички неуредени от настоящите Общи условия въпроси се прилагат разпоредбите на действащото законодателство на Република България.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
				</div>
				</div>
			</div>
			</div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="/static/bootstrap/js/jquery-1.10.2.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
	<script src="/static/js/index.js" type="text/javascript"></script>		<script src="/static/js/jquery.bgswitcher.js" type="text/javascript"></script>
	<script type="text/javascript" src="/static/js/jquery.plugin.js"></script> 
	<script type="text/javascript" src="/static/js/jquery.countdown.js"></script>
	<script>
		var newYear = new Date();
		newYear = new Date(newYear.getFullYear(), 9, 5);
		$('#defaultCountdown').countdown({
			until : newYear
		});
	</script>
	<script>
		function redirectToMapFromDestinations(self) {
			var lat = parseFloat(self.id.split('/')[0]);
			var lng = parseFloat(self.id.split('/')[1]);
			$("#redirectToMapDestination").attr("action", "/showParkingsAroundDestination/" + lat + "/" + lng);
			document.getElementById("destinationsSubmit").click();
		}

		function redirectToMapFromEvents(self) {
			var lat = parseFloat(self.id.split('/')[0]);
			var lng = parseFloat(self.id.split('/')[1]);
			$("#redirectToMapEvent").attr("action", "/showParkingsAroundEvent/" + lat + "/" + lng);
			document.getElementById("eventsSubmit").click();
		}

		var autocomplete;
		function load() {
			if ("{{form}}" == "subscribeForm") {
				$('.on-landing').hide();
				$('.subscribeBox').show();
				$('.subscribeButton').show();
				renderSubscribeMsg();
			}

			var options = {
				componentRestrictions : {
					country : "bg"
				}
			};

			var input = (document.getElementById('addressInput'));
			autocomplete = new google.maps.places.Autocomplete(input, options);

			google.maps.event.addListener(autocomplete, 'place_changed', function() {
				getCoordinations(autocomplete);
			});
		}

		function getCoordinationsByGeocoding() {
			var address = document.getElementById('addressInput').value;
			var geocoder = new google.maps.Geocoder();
			geocoder.geocode({
				address : address
			}, function(results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					$('.lat').val(results[0].geometry.location.lat());
					$('.lng').val(results[0].geometry.location.lng());
					document.getElementsByClassName('submitButton')[0].click();
				}
			});
		}

		function getCoordinations(autocomplete) {
			//var address = document.getElementById("addressInput").value;
			//var geocoder = new google.maps.Geocoder();
			/*
			 if (!checkForProperTimeDuration()) {
			 alert("Р§Р°СЃСЉС‚ РЅР° РёР·Р»РёР·Р°РЅРµ РЅРµ РјРѕР¶Рµ РґР° РїСЂРµРґС…РѕР¶РґР° С‡Р°СЃР° РЅР° РІР»РёР·Р°РЅРµ, Р° РїСЂРµСЃС‚РѕСЏС‚ Рµ РјРёРЅРёРјСѓРј Р·Р° 1 С‡Р°СЃ!");
			 } else {*/
			var place = autocomplete.getPlace();
			if (!place.geometry) {
				return;
			}
			$('.lat').val(place.geometry.location.lat());
			$('.lng').val(place.geometry.location.lng());
			//alert($('.lng').val());
			document.getElementsByClassName('submitButton')[0].click();
			/*
			geocoder.geocode({
			address : address
			}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
			$('.lat').val(results[0].geometry.location.lat());
			$('.lng').val(results[0].geometry.location.lng());
			//alert($('.lng').val());
			document.getElementsByClassName('submitButton')[0].click();
			}
			});*/

			//}
		}

		/*
		 function getCurrentInfo() {

		 $.ajax({
		 url : "/actualiseNumber/",
		 type : 'GET', //this is the default though, you don't actually need to always mention it
		 xhrFields : {
		 withCredentials : true
		 },
		 headers : {
		 'X-Requested-With' : 'XMLHttpRequest'
		 },
		 dataType : 'html',
		 success : function(data) {
		 if (data != undefined && data != null && parseInt(data.split('-')[0]) != parseInt($('.customers').html()))
		 setTimeout(function() {
		 renderNumberOfHelped(data);
		 }, 2000);
		 },
		 error : function(error) {

		 // Log any error.
		 console.log("ERROR:", error);

		 },
		 });
		 }*/

		function markHomeBooking() {
			$.ajax({
				url : "/homeBooking/",
				type : 'POST', //this is the default though, you don't actually need to always mention it
				xhrFields : {
					withCredentials : true
				},
				headers : {
					'X-Requested-With' : 'XMLHttpRequest'
				},
				data : {
					csrfmiddlewaretoken : '{{ csrf_token }}'
				},
				dataType : 'html',
				error : function(error) {

					// Log any error.
					console.log("ERROR:", error);

				},
			});
		}

		function checkForLogin() {
			$.ajax({
				url : "/checkForLogin/",
				type : 'GET', //this is the default though, you don't actually need to always mention it
				xhrFields : {
					withCredentials : true
				},
				headers : {
					'X-Requested-With' : 'XMLHttpRequest'
				},
				dataType : 'html',
				success : function(data) {
					if (data == "Authenticated")
						window.location.href = "/findparking/";
					else
						window.location.href = "/login/user";
				},
				error : function(error) {

					// Log any error.
					console.log("ERROR:", error);

				},
			});
		}

		/*function myCarousel()
		 {
		 function wait(){
		 var a = 0;
		 }
		 var holder = ["intro-header", "intro-header1", "intro-header2"];
		 var id = document.getElementById("home");
		 var i = 0;
		 while (true)
		 {
		 id.className = holder[i];
		 i++;
		 if(i == 2)
		 {
		 i = 0;
		 }
		 setTimeout(wait(), 2000);
		 }
		 }*/
		/*function start_carousel() {
		 setTimeout(f1, 3000);
		 }

		 function f1() {
		 //smqna na klasa
		 document.getElementById("home").className = "intro-header";
		 setTimeout(f2, 3000);
		 }

		 function f2() {
		 //document.getElementById("home").fadeIn( "slow" );
		 //smqna na klasa
		 document.getElementById("home").className = "intro-header1";

		 //document.getElementById("home").fadeIn( "slow" );
		 setTimeout(f3, 3000);
		 }

		 function f3() {
		 //smqna na klasa
		 document.getElementById("home").className = "intro-header2";
		 setTimeout(f1, 3000);
		 }		*/
								//user profile image
			function get_fbid_if_user_loggedin() {
				if ("{{user.is_authenticated}}" == "True") {
					$.ajax({
						url : "/getFbId/",
						type : 'GET', //this is the default though, you don't actually need to always mention it
						xhrFields : {
							withCredentials : true
						},
						headers : {
							'X-Requested-With' : 'XMLHttpRequest'
						},
						success : function(data) {
							if (data.length > 0) {
								$("#i").remove();
								var src = "https://graph.facebook.com/" + data + "/picture";
								$("#my_image").attr("src", src);
							}
						},
						error : function(error) {
							// Log any error.
							console.log("ERROR:", error);
						},
					});
				}
			}

		window.onload = function() {
			//loadDatePickers();
			load();
			//setFocus();
			//getCurrentInfo();
			//Carousel
			/*myCarousel();*/
			//trial
			/*$(document.getElementById("home")).switchClass( "intro-header", "intro-header1", 1000, "easeInOutQuad" );*/
			/*start_carousel();*/
			get_fbid_if_user_loggedin();
			$(".intro-header").bgswitcher({
				images : ["tablet.jpg", "car-lot.jpg", "iphone2.jpg"],
				effect : "drop",
				interval : 7000,
				loop : true
			});
			/*var $el = $(".intro-header").bgswitcher({			images: ["336727.jpg", "car-lot.jpg", "map_sofia.jpg"]			});			$(".right").on("click", function() {			$(".intro-header").bgswitcher("next"); // bar.jpg			});			$(".left").on("click", function() {			$(".intro-header").bgswitcher("prev"); // bar.jpg			});*/
		};
	</script>		<!-- subscribe-popup js -->	
		</body>
		</html>
