<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Как работи?</title>
		<meta name="description" content="Blueprint: On Scroll Effect Layout" />
		<meta name="keywords" content="on scroll, effect, slide in, layout, template, transition, javascript" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/css/scroll1.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/scroll2.css" />
		<script src="/static/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="bg">
		<div class="container">

		<!--<img src="images/bg1.jpg" class="bg" alt="" height="0">-->
			<header class="clearfix">
				<span><a href="/"><img src="/static/imgs/scroll/logo_web.png" width="150"/></a></span>
				<h1>ParkingSector.bg е първото приложение за намиране на паркомясто в България</h1>
				<!--<nav>
					<a href="http://tympanus.net/Blueprints/ResponsiveIconGrid/" class="bp-icon bp-icon-prev" data-info="previous Blueprint"><span>Previous Blueprint</span></a>
					<a href="" class="bp-icon bp-icon-next" data-info="next Blueprint"><span>Next Blueprint</span></a>
					<a href="http://tympanus.net/codrops/?p=15962" class="bp-icon bp-icon-drop" data-info="back to the Codrops article"><span>back to the Codrops article</span></a>
					<a href="http://tympanus.net/codrops/category/blueprints/" class="bp-icon bp-icon-archive" data-info="Blueprints archive"><span>Go to the archive</span></a>
				</nav>-->
				<div class="question">
					<h1>Как работи?</h1>
				</div>
			</header>	
			<div id="cbp-so-scroller" class="cbp-so-scroller">
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left up1">
						<h2>Търсете място</h2>
						<p>с помощта на нашата умна търсачка, която знае всички места в София и ще улесни намирането им. Ако пък знаете къде е Вашето място натиснете зеления бутон за да го запазите. С натискане на червения бутон можете да видите всички места около Вас</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="/static/imgs/scroll/profile2.png" alt="img01" width="600">
					</figure>
				</section>
				<section class="cbp-so-section">
					<figure class="cbp-so-side cbp-so-side-left">
						<img src="/static/imgs/scroll/inapp.png" alt="img01" width="600">
					</figure>
					<article class="cbp-so-side cbp-so-side-right up2">
						<h2>Вижте картата</h2>
						<p>и намерете най-подходящото място за Вас, като използвате филтрите за търсене и предложените от нас най-добри оферти.</p>
					</article>
				</section>
				<!--<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left up3">
						<h2>Запазете място</h2>
						<p>с помощта на удобната форма за запазване. Изберете подходящ за Вас ден и час и ние ще гарантираме свободно паркомясто</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="/static/imgs/scroll/formmap.png" alt="img01" width="600">
					</figure>
				</section>-->
				<section class="cbp-so-section">
					<article class="cbp-so-side cbp-so-side-left up1">
						<h2>Дайте мнение</h2>
						<p>или прегледайте рейтинга на паркинга и коментарите за него. По този начин Вие помагате на други да изберат подходящо място.</p>
					</article>
					<figure class="cbp-so-side cbp-so-side-right">
						<img src="/static/imgs/scroll/rateandreview.png" alt="img01" width="600">
					</figure>
				</section>
				<section class="cbp-so-section">
					<figure class="cbp-so-side cbp-so-side-left">
						<img src="/static/imgs/scroll/mapguide.png" alt="img01" width="600">
					</figure>
					<article class="cbp-so-side cbp-so-side-right up4">
						<h2>Следвайте насоките</h2>
						<p>и поемете по най-краткия път до Вашата дестинация. Предоставяме на Ваше разположение удобна навигация, така че да стигнете до желаното от Вас място, дори и да не знаете къде се намира.</p>
					</article>
				</section>
			</div>
			</div>
		</div>
		<script src="/static/js/classie.js"></script>
		<script src="/static/js/cbpScroller.js"></script>
		<script>
			new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );
		</script>
	</body>
</html>
