#map {
	height: 100%;
	width: 100%;
	position: fixed !important;
}

.subscribeBox {
	max-width: 500px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 10% auto 0px auto;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 10px !important;
	border: 1px solid #bbb !important;
	padding: 10px 25px 20px;
	z-index: 9999;
	text-align: center !important;
	font-family: Verdana;
}