.size{
	border: 0px solid #DDD;
	border-radius: 0px;
	background: #6bbde8;
	color: #FFF;
}
.header2{
	font-family: Verdana;
	font-size: 20px;
}
.time{
	font-size: 26px;
}
.changer{
	text-align: center;
	/*padding: 3px 30px 3px 30px;*/
	/*border-radius: 1000px;*/
	padding: 10px 15px 10px 15px;
	border: 3px solid #FFF;
	background: #6bbde8;/*#868688 grey*/
	color: #FFF;
	font-size: 16px;
	margin-top: 10px;
}
.special{
	padding: 10px 45px 10px 45px !important;
	font-size: 24px !important;
	background: #868688 !important;
}
.morning{
	background: #eeb935 !important;
}
.noon{
	background: #e6a235 !important;
}
.afternoon{
	background: #dd7633 !important;
}
.night{
	background: #6f64c0 !important;
}
.midnight{
	background: #413d92 !important;
}
.pinkyrinky{
	background: #e2677e !important;
}