<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ParkingSector | Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/static/css/style_admin.css" rel="stylesheet">
	<link href="/static/css/cena_chas.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome-4.1.0/css/font-awesome.min.css">
  </head>

  <body>

    <div id="wrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top clear" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="clientprofile.html">ParkingSector.bg</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

          <ul class="nav navbar-nav navbar-right navbar-user" id="user">
			<li class="dropdown messages-dropdown">
              <a href="clientprofile.html" class="dropdown-toggle"><i class="fa fa-money"></i> Ценоразпис</a>
            </li>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Иван Пешев <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-power-off"></i> Излез</a></li>
              </ul>
            </li>
          </ul>
		</nav>
        </div><!-- /.navbar-collapse -->


      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1><small>Добре дошли в Административния панел. </small></h1>
          </div>
        </div><!-- /.row -->
		
		
         <div class="row">
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 1 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 2 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 3 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 4 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
        </div><!-- /.row -->
         <div class="row">
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 5 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 6 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 7 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 8 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
        </div><!-- /.row -->
         <div class="row">
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 9 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 10 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 11 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 12 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
        </div><!-- /.row -->
         <div class="row">
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 13 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 14 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 15 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 16 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
        </div><!-- /.row -->
         <div class="row">
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 17 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 18 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 19 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 20 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
        </div><!-- /.row -->
         <div class="row">
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 21 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 22 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 23 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size">
              <div class="panel-body header">
                <span class="time"><i class="fa fa-clock-o"></i> 24 часа</span><br>
				2 лв<br>
				<button class="changer"><i class="fa fa-plus"></i></button>
				<button class="changer"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->


    <!-- JavaScript -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->
    <script src="/static/js/tablesorter/jquery.tablesorter.js"></script>
    <script src="/static/js/tablesorter/tables.js"></script>
	<script>
		$(document).ready(function()
		{	
			$('table').on('click', '#button', function(e){
			/*$(this).closest('tr').remove()*/
			var a = document.getElementById("tableRow")
			document.getElementById("table").deleteRow(a);
			})
		});
	</script>
  </body>
</html>