<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ParkingSector | Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/static/css/style_admin.css" rel="stylesheet">
	<link href="/static/css/cena_chas.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/test/font-awesome-4.1.0/css/font-awesome.min.css">
  </head>

  <body>

    <div id="wrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top clear" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="clientprofile.html">ParkingSector.bg</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

          <ul class="nav navbar-nav navbar-right navbar-user" id="user">
			<li class="dropdown messages-dropdown">
              <a href="clientprofile.html" class="dropdown-toggle"><i class="fa fa-money"></i> Ценоразпис</a>
            </li>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Иван Пешев <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-power-off"></i> Излез</a></li>
              </ul>
            </li>
          </ul>
		</nav>
        </div><!-- /.navbar-collapse -->


      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1><small>Добре дошли в Административния панел. </small></h1>
          </div>
        </div><!-- /.row -->
		
		
         <div class="row">
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size midnight">
              <div class="panel-body header">
				<img src="/static/imgs/clocks/1am.png" align="left"/> 
                <span class="time">1 часа</span><br>
				2 лв/час<br>
				<button class="changer midnight"><i class="fa fa-plus"></i></button>
				<button class="changer midnight"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size midnight">
              <div class="panel-body header">
				<img src="/static/imgs/clocks/4am.png" align="left"/> 
                <span class="time">2 часа</span><br>
				2 лв/час<br>
				<button class="changer midnight"><i class="fa fa-plus"></i></button>
				<button class="changer midnight"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size midnight">
              <div class="panel-body header">
				<img src="/static/imgs/clocks/3am.png" align="left"/> 
                <span class="time">3 часа</span><br>
				2 лв/час<br>
				<button class="changer midnight"><i class="fa fa-plus"></i></button>
				<button class="changer midnight"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size midnight">
              <div class="panel-body header">
				<img src="/static/imgs/clocks/4am.png" align="left"/> 
                <span class="time"> 4 часа</span><br>
				2 лв/час<br>
				<button class="changer midnight"><i class="fa fa-plus"></i></button>
				<button class="changer midnight"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
        </div><!-- /.row -->
         <div class="row">
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size morning">
              <div class="panel-body header">
				<img src="/static/imgs/clocks/5am.png" align="left"/> 
                <span class="time">5 часа</span><br>
				2 лв/час<br>
				<button class="changer morning"><i class="fa fa-plus"></i></button>
				<button class="changer morning"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size morning">
              <div class="panel-body header">
				<img src="/static/imgs/clocks/6am.png" align="left"/> 
                <span class="time">6 часа</span><br>
				2 лв/час<br>
				<button class="changer morning"><i class="fa fa-plus"></i></button>
				<button class="changer morning"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size morning">
              <div class="panel-body header">
				<img src="/static/imgs/clocks/7am.png" align="left"/> 
                <span class="time">7 часа</span><br>
				2 лв/час<br>
				<button class="changer morning"><i class="fa fa-plus"></i></button>
				<button class="changer morning"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size morning">
              <div class="panel-body header">
				<img src="/static/imgs/clocks/8am.png" align="left"/> 
                <span class="time">8 часа</span><br>
				2 лв/час<br>
				<button class="changer morning"><i class="fa fa-plus"></i></button>
				<button class="changer morning"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
        </div><!-- /.row -->
         <div class="row">
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size morning">
              <div class="panel-body header">
				<img src="/static/imgs/clocks/9am.png" align="left"/> 
                <span class="time"><i class="fa fa-clock-o"></i> 9 часа</span><br>
				2 лв/час<br>
				<button class="changer morning"><i class="fa fa-plus"></i></button>
				<button class="changer morning"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size morning">
              <div class="panel-body header">
				<img src="/static/imgs/clocks/10am.png" align="left"/> 
                <span class="time">10 часа</span><br>
				2 лв/час<br>
				<button class="changer morning"><i class="fa fa-plus"></i></button>
				<button class="changer morning"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size noon">
              <div class="panel-body header">
				<img src="/static/imgs/clocks/11am.png" align="left"/> 
                <span class="time">11 часа</span><br>
				2 лв/час<br>
				<button class="changer noon"><i class="fa fa-plus"></i></button>
				<button class="changer noon"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size noon">
              <div class="panel-body header">
				<img src="/static/imgs/clocks/12pm.png" align="left"/> 
                <span class="time">12 часа</span><br>
				2 лв/час<br>
				<button class="changer noon"><i class="fa fa-plus"></i></button>
				<button class="changer noon"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
        </div><!-- /.row -->
         <div class="row">
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size noon">
              <div class="panel-body header">
			  <img src="/static/imgs/clocks/1pm.png" align="left"/> 
                <span class="time">13 часа</span><br>
				2 лв/час<br>
				<button class="changer noon"><i class="fa fa-plus"></i></button>
				<button class="changer noon"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size afternoon">
              <div class="panel-body header">
			  <img src="/static/imgs/clocks/2pm.png" align="left"/> 
                <span class="time">14 часа</span><br>
				2 лв/час<br>
				<button class="changer afternoon"><i class="fa fa-plus"></i></button>
				<button class="changer afternoon"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size afternoon">
              <div class="panel-body header">
			  <img src="/static/imgs/clocks/3pm.png" align="left"/> 
                <span class="time">15 часа</span><br>
				2 лв/час<br>
				<button class="changer afternoon"><i class="fa fa-plus"></i></button>
				<button class="changer afternoon"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size afternoon">
              <div class="panel-body header">
			  <img src="/static/imgs/clocks/4pm.png" align="left"/> 
                <span class="time">16 часа</span><br>
				2 лв/час<br>
				<button class="changer afternoon"><i class="fa fa-plus"></i></button>
				<button class="changer afternoon"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
        </div><!-- /.row -->
         <div class="row">
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size afternoon">
              <div class="panel-body header">
			  <img src="/static/imgs/clocks/5pm.png" align="left"/>
                <span class="time">17 часа</span><br>
				2 лв/час<br>
				<button class="changer afternoon"><i class="fa fa-plus"></i></button>
				<button class="changer afternoon"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size afternoon">
              <div class="panel-body header">
			  <img src="/static/imgs/clocks/6pm.png" align="left"/>
                <span class="time">18 часа</span><br>
				2 лв/час<br>
				<button class="changer afternoon"><i class="fa fa-plus"></i></button>
				<button class="changer afternoon"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size afternoon">
              <div class="panel-body header">
			  <img src="/static/imgs/clocks/7pm.png" align="left"/>
                <span class="time">19 часа</span><br>
				2 лв/час<br>
				<button class="changer afternoon"><i class="fa fa-plus"></i></button>
				<button class="changer afternoon"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size night">
              <div class="panel-body header">
			  <img src="/static/imgs/clocks/8pm.png" align="left"/>
                <span class="time">20 часа</span><br>
				2 лв/час<br>
				<button class="changer night"><i class="fa fa-plus"></i></button>
				<button class="changer night"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
        </div><!-- /.row -->
         <div class="row">
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size night">
              <div class="panel-body header">
			  <img src="/static/imgs/clocks/9pm.png" align="left"/>
                <span class="time">21 часа</span><br>
				2 лв/час<br>
				<button class="changer night"><i class="fa fa-plus"></i></button>
				<button class="changer night"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size night">
              <div class="panel-body header">
			  <img src="/static/imgs/clocks/10pm.png" align="left"/>
                <span class="time">22 часа</span><br>
				2 лв/час<br>
				<button class="changer night"><i class="fa fa-plus"></i></button>
				<button class="changer night"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size midnight">
              <div class="panel-body header">
			  <img src="/static/imgs/clocks/11pm.png" align="left"/>
                <span class="time">23 часа</span><br>
				2 лв/час<br>
				<button class="changer midnight"><i class="fa fa-plus"></i></button>
				<button class="changer midnight"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
          <div class="col-lg-3 text-center">
            <div class="panel panel-default size midnight">
              <div class="panel-body header">
			  <img src="/static/imgs/clocks/12am.png" align="left"/>
                <span class="time">24 часа</span><br>
				2 лв/час<br>
				<button class="changer midnight"><i class="fa fa-plus"></i></button>
				<button class="changer midnight"><i class="fa fa-minus"></i></button>
              </div>
            </div>            
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->


    <!-- JavaScript -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->
    <script src="/static/js/tablesorter/jquery.tablesorter.js"></script>
    <script src="/static/js/tablesorter/tables.js"></script>
	<script>
		$(document).ready(function()
		{	
			$('table').on('click', '#button', function(e){
			/*$(this).closest('tr').remove()*/
			var a = document.getElementById("tableRow")
			document.getElementById("table").deleteRow(a);
			})
		});
	</script>
  </body>
</html>